:root {
  --blue: hsl(246, 80%, 60%);
  --lightworkred: hsl(15, 100%, 70%); /*(work)*/
  --softblue: hsl(195, 74%, 62%); /*(play)*/
  --lightstudyred: hsl(348, 100%, 68%); /*(study)*/
  --limegreen: hsl(145, 58%, 55%); /*(exercise*/
  --violet: hsl(264, 64%, 52%); /*(social)*/
  --softorange: hsl(43, 84%, 65%); /*(self care)*/
  --verydarkblue: hsl(226, 43%, 10%);
  --darkblue: hsl(235, 46%, 20%);
  --desaturatedblue: hsl(235, 45%, 61%);
  --paleblue: hsl(236, 100%, 87%);
}



@media screen and (min-width: 550px){
  html{
    align-content:center;
  }
  .container{
    grid-template-areas:
    "maincard work play study"
    "maincard exercise social selfcare";
  }
  
}

@media screen and (max-width:549px) {
  .container{
  grid-template-areas: 
    "maincard" 
    "work" 
    "play" 
    "study" 
    "exercise"
    "social" 
    "selfcare";
}
}

html {
  height: 100%;
display: grid;
  
  justify-content: center;
  background-color: var(--verydarkblue);
  color: white;
  font-family: "Rubik", sans-serif;
}

.container {
  display: grid;
  
  justify-content: center;
  gap: 1em;
  border-radius: 20px;
}

.box {
  border-radius: 20px;
  height: 13rem;
  width: 14rem;
  display: grid;
  grid-template-rows: 3rem 1fr 1fr 1fr;
}
.background-color {
  display: flex;
  justify-content: right;
  padding-right: 12px;
  overflow: hidden;
}

.box-title {
  display: flex;
  background-clip: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  justify-content: space-between;
  font-size: 18px;
  padding: 15px 30px 20px 30px;
  font-weight: 500;

  background-color: var(--darkblue);
}

.box-title img {
  height: 5px;
  width: auto;
  padding-top: 7px;
}

.current-hours {
  font-size: 45px;
  padding-left: 27px;
  padding-bottom: 10px;
  font-weight: 300;
  background-color: var(--darkblue);
}
.previous-hours {
  font-size: 12px;
  padding-left: 27px;
  background-color: var(--darkblue);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--paleblue);
}

#maincard {
  grid-area: maincard;
  overflow: hidden;
  width: 14rem;
  border-radius: 20px;
  background-color: var(--darkblue);
  display: flex;
  flex-direction: column;
}

.topmaincard {
  background-color: var(--blue);
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 70px;
  padding-left: 30px;
}

#imagetopmaincard {
  padding-top: 10px;
  height: 6rem;
  width: 6rem;
}

#reportFor {
  color: var(--paleblue);
  padding-top: 20px;
}

#lasttopmaincard {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  font-size: 40px;
  font-weight: 300;
}

#maincard ul {
  background-color: var(--darkblue);
}

#maincard li {
  list-style-type: none;
  padding: 7px 0px 7px 0px;
  color: var(--desaturatedblue);
}

#work {
  grid-area: work;
  background-color: var(--lightworkred);
}

#play {
  grid-area: play;
  background-color: var(--softblue);
}

#study {
  grid-area: study;
  background-color: var(--lightstudyred);
}

#exercise {
  grid-area: exercise;
  background-color: var(--limegreen);
}

#social {
  grid-area: social;
  background-color: var(--violet);
}

#selfcare {
  grid-area: selfcare;
  background-color: var(--softorange);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 40px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
