:root {
  --blue: hsl(246, 80%, 60%);
  --lightworkred: hsl(15, 100%, 70%); /*(work)*/
  --softblue: hsl(195, 74%, 62%); /*(play)*/
  --lightstudyred: hsl(348, 100%, 68%); /*(study)*/
  --limegreen: hsl(145, 58%, 55%); /*(exercise*/
  --violet: hsl(264, 64%, 52%); /*(social)*/
  --softorange: hsl(43, 84%, 65%); /*(self care)*/
  --verydarkblue: hsl(226, 43%, 10%);
  --darkblue: hsl(235, 46%, 20%);
  --desaturatedblue: hsl(235, 45%, 61%);
  --paleblue: hsl(236, 100%, 87%);
  --hoverblue: #343a7b;
}

@media screen and (min-width: 376px) {
  html {
    align-content: center;
  }
  .container {
    grid-template-areas:
      "maincard work play study"
      "maincard exercise social selfcare";
  }
  .box {
    border-radius: 20px;
    display: grid;
    grid-template-areas: "back" "lowerbox";

    width: 255px;
  }
  .lowerbox {
    grid-template-areas:
      "title"
      "currentHours"
      "previousHours";
  }

  .box-title {
    font-size: 18px;
  }
  .current-hours {
    font-size: 45px;
  }

  .background-color {
    height: 45px;
  }
  #maincard{
  width: 245px;
  }
  .topmaincard{
  grid-template-areas: 
  "clientimage"
  "report"
  "clientname";
  
  border-radius: 20px;
  padding-top: 35px;
  padding-bottom: 85px;
  padding-left: 30px;
  }
  #clientName{
    font-size: 35px;
    font-weight: 300;

  }
  .bottommaincard{
    padding: 7px 0px 7px 0px;
  }
 #reportFor{
  padding-top: 30px;
 }
}

@media screen and (max-width: 375px) {
  .container {
    grid-template-areas:
      "maincard"
      "work"
      "play"
      "study"
      "exercise"
      "social"
      "selfcare";
  }
  .box {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 38px 120px;
width:330px;
    grid-template-areas:
      "back"
      "lowerbox";
  }

  .lowerbox {
    grid-template-rows: 30px 1fr;
    grid-template-areas:
      "title title"
      "currentHours previousHours";
    justify-content: space-between;
   
  }
  .previous-hours{
    padding-top:7px
  }
  .current-hours{
    font-size: 30px;
    padding-bottom: 40px;
  }
 
 #maincard{
   width:330px;
 }


  .topmaincard{
   grid-template-columns: 0.5fr 1fr;
    grid-template-areas: 
   "clientimage report"
   "clientimage clientname"
   ;
   padding-left: 10px;
   height:130px;

   align-content: center;

  }
  #clientName{
    font-size: 25px;
    font-weight: 300;
    
    

  }
  
  #maincard ul{
    display:flex;
    justify-content: space-evenly;
    
    padding:0;
    
  }
  #reportFor{
    padding-top: 15px;
    
  }
 
 }

 


html {
  height: 100%;
  display: grid;

  justify-content: center;
  background-color: var(--verydarkblue);
  color: white;
  font-family: "Rubik", sans-serif;
}

.container {
  display: grid;
  overflow: hidden;
  justify-content: center;
  gap: 30px;
  border-radius: 20px;
}

.background-color {
  grid-area: back;
  display: flex;
  justify-content: right;
  padding-right: 12px;
  overflow: hidden;
}

.lowerbox {
  display: grid;
  grid-area: lowerbox;
  background-color: var(--darkblue);
  cursor: pointer;
  border-radius: 17px;
  padding: 30px;
}

.lowerbox:hover {
  background-color: var(--hoverblue);
}

.box-title {
  grid-area: title;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding-bottom: 20px;
  font-weight: 500;
}

.box-title img {
  height: 5px;
  width: auto;
  padding-top: 7px;
}

.box-title img:hover {
  filter: brightness(150%);
}

.current-hours {
  grid-area: currentHours;
  font-weight: 300;
  padding-bottom: 10px;
}
.previous-hours {
  grid-area: previousHours;
  font-size: 14px;
 

  color: var(--paleblue);
}

#maincard {
  grid-area: maincard;
  overflow: hidden;
  
  border-radius: 20px;
  background-color: var(--darkblue);
 
}

.topmaincard {
  display:grid;
  background-color: var(--blue);
  
}

#clientimage {
 grid-area:clientimage ;
  height: 85px;
  width: 85px;
 
}

#reportFor {
  grid-area:report;
  color: var(--paleblue);
  
}

#clientName {
  grid-area:clientname;
  
  
}



.bottommaincard {

  list-style-type: none;
 
  color: var(--desaturatedblue);
  cursor: pointer;
}
.bottommaincard:hover {
  color: white !important;
}

/*GRID AREA NAMES AND BACKGROUND COLORS FOR BOXES AND ATTRIBUTION STATEMENT*/

#work {
  grid-area: work;
  background-color: var(--lightworkred);
}

#play {
  grid-area: play;
  background-color: var(--softblue);
}

#study {
  grid-area: study;
  background-color: var(--lightstudyred);
}

#exercise {
  grid-area: exercise;
  background-color: var(--limegreen);
}

#social {
  grid-area: social;
  background-color: var(--violet);
}

#selfcare {
  grid-area: selfcare;
  background-color: var(--softorange);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 40px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
